
p {
  margin-bottom: 10px;
}

#loading {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

#app {
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
  text-align: left;
}

#listPosts {
  margin-top: 30px;
}

#onePost {
  margin-top: 50px;
}

#listPosts>ul,
#listPosts>ul>li {
  list-style: none;
  margin-left: 0;
  padding-left:0;
}

#alert {
  position: absolute;
  top: 20px;
  width: 100%;
}

#alert>button {
  margin-top: 15px; margin-right: 15px;
}

#log {
  border-top: #999 1px solid;
  height: 130px;
  bottom: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  font-size: 8pt;
  color: #999;
}
