
p {
  margin-bottom: 10px;
}

#loading {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

#app {
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
  text-align: left;
}

#add {
  position: relative;
}

#image {
  width: 48%;
}

#imagePreview {
  width: 50%;
  height: 300px;
  margin-top: -50px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#listPosts {
  margin-top: 30px;
}

#addPostForm {
  text-align: left;
  margin-top: 25px;
}

#onePost {
  margin-top: 50px;
}

#alert {
  position: absolute;
  bottom: 50px;
  width: 100%;
  max-width: 550px;
}

.alert-black {
  background-image: -webkit-linear-gradient(top,#333 0,#000 100%);
  background-image: -o-linear-gradient(top,#333 0,#000 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#333),to(#000));
  background-image: linear-gradient(to bottom,#333 0,#000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#000', GradientType=0);
  background-repeat: repeat-x;
  border-color: #555;
  color: #fff;
  opacity: 0.7;
}

#alert>button {
  margin-top: 15px; margin-right: 15px;
}


.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
